# Database files - too large for GitHub
*.db
*.sqlite

# Raw data - regeneratable from notebooks
data/raw/*.csv

# Mac system files
.DS_Store
**/.DS_Store
data/.DS_Store
notebooks/.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment
.venv/
